#email {
    padding: 50px;
    margin-top: 50px;
    width: 500px;
    border: 2px solid black;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Confidential labels */
#confidential,
#top-secret {
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    border: 2px solid red;
    font-weight: bold;
}

/* Rotation */
#confidential {
    transform: rotate(-10deg);
}

#top-secret {
    transform: rotate(10deg);
}

/* Blur effect */
.blurred {
    filter: blur(3px);
}
